<nb-card>

  <nb-card-header>
    Usúarios
  </nb-card-header>

  <nb-card-body>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome:</th>
          <th scope="col">Documento:</th>
          <th scope="col">Ações:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alexandre Bezerra de Queiroz</td>
          <td>03396885562</td>
          <td colspan="2">@mdo</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </nb-card-body>

</nb-card>
