@import '../../../@theme/styles/themes';

.board {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

@include nb-install-component() {

  nb-card {

    margin-left: 10px;
    width: 100%;
    display: flex;

  }

}
