<div class="board">

  <nb-card
    >

    <nb-card-header>
      Para Fazer
    </nb-card-header>

    <nb-card-body>

      <ngx-kanbam-column-item
        [accent]="'warning'"
        [task]="'Instalar antena'"
        [responsible]="'alexandre'"
        >
      </ngx-kanbam-column-item>

      <ngx-kanbam-column-item
        [accent]="'danger'"
        [task]="'Trocar o roteador da casa de fulano'"
        [responsible]="'Francinei'"
        >
      </ngx-kanbam-column-item>

      <ngx-kanbam-column-item
        [accent]="'success'"
        [task]="'Atualizar o dados do caixa'"
        [responsible]="'Jeimes'"
        >
      </ngx-kanbam-column-item>

    </nb-card-body>

  </nb-card>

  <nb-card>
    <nb-card-header>
      Fazendo Agora
    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      Em revisão
    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      Feito
    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
  </nb-card>

</div>
