
<nb-card>

  <nb-card-header>
    <span>Movimentações</span>

      <nb-select multiple placeholder="Origem">
        <nb-option value="1">Cartão de Credito</nb-option>
        <nb-option value="2">Cartão de Debito</nb-option>
        <nb-option value="3">Pix</nb-option>
        <nb-option value="4">Boleto</nb-option>
        <nb-option value="4">Debito em conta</nb-option>
      </nb-select>

  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let transaction of transactions">

      <div class="visited-date">
        {{ transaction.name }}
      </div>

      <div class="visited-date">
        {{ transaction.date }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Valor</div>
        <div class="value">{{ transaction.amount | currency

        }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">New visits, %</div>
        <div class="delta value"
          [class.up]="transaction.in"
          [class.down]="!transaction.in"
          >

          <nb-icon
             [icon]="transaction.in ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
            {{ transaction.amount }}%
        </div>
      </div>

    </nb-list-item>
  </nb-list>

</nb-card>
