<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">

      <nb-step [label]="labelOne" >
        <ng-template #labelOne>Usuário</ng-template>

        <hr/>
        <ngx-select-user (selectCustomer)="selectCustomer($event)"></ngx-select-user>
        <hr/>

        <div class="d-flex justify-content-between">
          <button nbButton disabled nbStepperNext>Voltar</button>
          <button nbButton nbStepperNext [disabled]="customer.invalid">Avançar</button>
        </div>

      </nb-step>

      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Endereço</ng-template>

        <hr/>
        <ngx-select-place (selectPlace)="selectPlace($event)" ></ngx-select-place>
        <hr/>

        <div class="d-flex justify-content-between">
          <button nbButton disabled nbStepperNext>Voltar</button>
          <button nbButton nbStepperNext [disabled]="place.invalid">Avançar</button>
        </div>
      </nb-step>

      <nb-step label="Categoria">
        <h4>Selecionar a categoria</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>

      <nb-step [label]="labelFour">
        <ng-template #labelFour>Revisão</ng-template>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>
