<nb-card>

  <nb-card-header>
    Gerar Faturas
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [tableStriped]="false">

      <thead>
        <tr>

          <th class="col-7">
            Responsável
          </th>

          <th class="col-1 text-center">
            Letra:
          </th>

          <th class="col-1 text-center">
            Número
          </th>

          <th class="col-1 text-center">
            Categoria/Grupo
          </th>

          <th class="col-1 text-center">
            Valor
          </th>

          <th class="col-1 text-center">
            Confirmar
          </th>
        </tr>
      </thead>



      <tbody>

        <tr class="table-success">
          <td class="text-center" colspan="5">
            Avenida Fernando Daltro
          </td>

          <td class="text-center">
            <nb-checkbox status="basic"></nb-checkbox>
          </td>

        </tr>

        <tr>
          <td>
            Alexandre Bezerra de Queiroz
          </td>

          <td class="text-center">
            1
          </td>

          <td class="text-center">
            A
          </td>

          <td class="text-center">
            Efetivo/Supermercado
          </td>

          <td class="text-center">
            R$ 50,00
          </td>

          <td class="text-center">
            <nb-checkbox></nb-checkbox>
          </td>
        </tr>

        <tr>
          <td>
            Alexandre Bezerra de Queiroz
          </td>

          <td class="text-center">
            2
          </td>

          <td class="text-center">
            A
          </td>

          <td class="text-center">
            Efetivo/Residência
          </td>

          <td class="text-center">
            R$ 50,00
          </td>

          <td class="text-center">
            <nb-checkbox></nb-checkbox>
          </td>
        </tr>
      </tbody>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
