<nb-card>
  <nb-card-header>
    Revisão da ligação
  </nb-card-header>

  <nb-card-body>

    <nb-accordion multi>

      <nb-accordion-item #customer collapsed="false">
       <nb-accordion-item-header>Usuário</nb-accordion-item-header>
       <nb-accordion-item-body>
        <b>{{link.customer.name}}</b><br/>
        <b>{{link.customer.personType === 'PERSON' ? 'C.P.F:': 'C.N.P.J:'}}</b> número <b>{{link.customer.document | identification }}</b>
       </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item collapsed="false">
        <nb-accordion-item-header>Endereço</nb-accordion-item-header>
        <nb-accordion-item-body>
          De serviço:<br/>

          <b>{{link.place.address.name}}</b>, no número: <b>{{link.place.number}}</b> de complemento <b>{{link.place.letter}}</b><br/>

          <hr>

          De correspondência<br/>
          <b>{{link.place.address.name}}</b>, no número: <b>{{link.place.number}}</b> de letra <b>{{link.place.letter}}</b>

        </nb-accordion-item-body>
       </nb-accordion-item>

       <nb-accordion-item collapsed="false">
        <nb-accordion-item-header>Preço</nb-accordion-item-header>
        <nb-accordion-item-body>
          Categoria: <b>{{link.group.category | category}}</b><br/>
          Grupo <b>{{link.group.name}}</b><br/>
          Valor <b>{{link.group.value | currency}}</b><br/>
        </nb-accordion-item-body>
       </nb-accordion-item>

    </nb-accordion>

  </nb-card-body>

</nb-card>
